<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
    <table class="table table-bordered">
      <tr>
        <td class="tableHeading">Chambers</td>
      </tr>
      <tr>
        <td><a href="#">Thing One</a></td>
      </tr>
      <tr>
        <td><a href="#">Thing Two</a></td>
      </tr>
      <tr>
        <td><a href="#">Thing Three</a></td>
      </tr>
      <tr>
        <td><a href="#">Thing Four</a></td>
      </tr>
      <tr>
        <td><a href="#">Thing Five</a></td>
      </tr>
    </table>
  </div>
</div>
